.nextcloud-dam-entity-browser-current {
  display: flex;
  flex-wrap: wrap;
  margin: 1em -0.5rem;

  .item-container::before {
    position: absolute;
    top: 0.4375rem;
    /* left: 0.4375rem; */
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    content: "";
    transition:
      border-color 0.2s,
      color 0.2s,
      background 0.2s;
    pointer-events: none;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    box-shadow: var(--details-box-shadow);
  }

  .item-container {
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
    padding: 0.5rem;
    vertical-align: top;
    outline: none;
    background: #fff;

    article {
      position: relative;
    }
    img {
      max-width: 100%;
      height: 11.25rem;
      object-fit: cover;
      object-position: center center;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    /**
 * Media library widget edit and delete button styles.
 *
 * We have to override the .button styles since buttons make heavy use of
 * background and border property changes.
 */

    .nextcloud-button,
    .nextcloud-button:hover,
    .nextcloud-button:focus,
    .edit-button,
    .edit-button:hover,
    .edit-button:focus,
    .remove-button,
    .remove-button:hover,
    .remove-button:focus,
    .remove-button.button,
    .remove-button.button:first-child,
    .remove-button.button:disabled,
    .remove-button.button:disabled:active,
    .remove-button.button:hover,
    .remove-button.button:focus {
      position: absolute;
      z-index: 1;
      top: 0.625rem;
      overflow: hidden;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.3125rem;
      padding: 0;
      transition: 0.2s border-color;
      color: transparent;
      background-size: 0.75rem;
      text-shadow: none;
      font-size: 0;
    }

    .edit-button {
      right: 2.5rem;
      /* LTR */
    }

    [dir="rtl"] .edit-button {
      right: auto;
      left: 2.5rem;
    }

    .edit-button {
      /* !important to override button class border. */
      border: 1px solid var(--color-gray-200) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg fill='%23545560'%3e%3cpath d='M14.545 3.042l-1.586-1.585a1.003 1.003 0 00-1.414 0L10.252 2.75l3 3 1.293-1.293a1.004 1.004 0 000-1.415zM5.25 13.751l-3-3 6.998-6.998 3 3zM.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.75rem;
    }

    .edit-button:active {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23ffffff' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23ffffff' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23ffffff' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");
    }

    .remove-button {
      right: 0.625rem;
      /* LTR */
    }

    [dir="rtl"] .remove-button {
      right: auto;
      left: 0.625rem;
    }

    .remove-button,
    .remove-button.button,
    .remove-button.button:first-child,
    .remove-button.button:disabled,
    .remove-button.button:disabled:active,
    .remove-button.button:hover,
    .remove-button.button:focus {
      /* !important to override button class border. */
      border: 1px solid var(--color-gray-200) !important;
      background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.344 2.343l11.313 11.313M2.344 13.657L13.657 2.343' stroke='%2355565B' stroke-width='3'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.75rem;
    }

    .remove-button:active,
    .remove-button.button:active,
    .remove-button.button:disabled:active {
      /* !important to override button class border. */
      border-color: var(--color-absolutezero) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23ffffff' d='M3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z'/%3e%3c/svg%3e");
    }

    .nextcloud-button {
      right: 4.5rem;
      /* LTR */
    }

    [dir="rtl"] .nextcloud-button {
      right: auto;
      left: 4.5rem;
    }

    .nextcloud-button,
    .nextcloud-button.button,
    .nextcloud-button.button:first-child,
    .nextcloud-button.button:disabled,
    .nextcloud-button.button:disabled:active,
    .nextcloud-button.button:hover,
    .nextcloud-button.button:focus {
      /* !important to override button class border. */
      border: 1px solid var(--color-gray-200) !important;
      background-image: url("data:image/svg+xml,%3csvg height='38' viewBox='0 0 38 38' width='38' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m25.84 2.37c-1.972.311-3.605 1.099-5.162 2.493-1.157 1.035-3.04 2.995-3.221 3.353a1.34 1.34 0 0 0 -.018 1.252c.193.415.819.997 1.219 1.133.798.272 1.01.143 2.997-1.818.891-.88 1.734-1.688 1.873-1.796.678-.523 1.686-.971 2.555-1.135.663-.125 2.055-.089 2.622.068 1.75.484 3.119 1.611 3.911 3.219.493.999.595 1.459.593 2.673-.002 1.102-.093 1.593-.444 2.395-.437.998-.716 1.326-3.528 4.137-1.468 1.467-2.844 2.795-3.058 2.951-1.167.846-2.819 1.293-4.162 1.126a6.606 6.606 0 0 1 -2.194-.674c-.836-.445-1.081-.654-2.231-1.909-.385-.42-.706-.585-1.139-.584-.431.001-.898.215-1.313.604-.579.541-.721 1.135-.423 1.773.157.339.916 1.282 1.378 1.712a9.753 9.753 0 0 0 3.617 2.108c.98.314 1.471.395 2.613.432.91.03 1.195.015 1.842-.096a9.098 9.098 0 0 0 2.767-.918c1.263-.639 1.688-1.007 4.862-4.201 2.382-2.397 2.954-3.006 3.28-3.496 1.732-2.599 2.122-5.727 1.075-8.622-1.126-3.113-3.765-5.388-7.049-6.079-.818-.172-2.484-.224-3.262-.101m-10.64 10.783c-1.249.2-2.102.463-3.071.946-1.308.651-1.648.941-4.727 4.012-1.669 1.666-2.97 3.018-3.178 3.302-.899 1.23-1.444 2.426-1.758 3.857-.168.763-.233 2.364-.128 3.113.583 4.136 3.564 7.335 7.605 8.161 2.581.528 5.344-.096 7.537-1.7.261-.191 1.234-1.1 2.162-2.02 1.865-1.851 2.043-2.083 2.047-2.677.003-.427-.133-.719-.538-1.163-.35-.383-.785-.62-1.212-.661-.581-.056-.836.131-2.744 2.013-1.74 1.715-2.089 2.001-2.908 2.379-.895.414-1.338.502-2.507.499-.947-.002-1.096-.018-1.592-.171-.737-.227-1.185-.431-1.713-.783-1.1-.731-1.953-1.812-2.37-3.006-.489-1.401-.452-3.071.097-4.364.449-1.056.614-1.252 3.451-4.107 1.466-1.475 2.829-2.809 3.03-2.964 1.652-1.284 3.976-1.616 5.891-.842 1.036.419 1.703.931 2.81 2.16.537.595 1.024.749 1.675.527.388-.132.966-.601 1.17-.951.338-.576.258-1.146-.258-1.835-1.526-2.036-3.759-3.341-6.333-3.703-.425-.06-2.108-.075-2.438-.022' fill='%2355565b'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.75rem;
    }

    .nextcloud-button:active,
    .nextcloud-button.button:active,
    .nextcloud-button.button:disabled:active {
      /* !important to override button class border. */
      border-color: var(--color-absolutezero) !important;
    }
  }
}
